<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Supermarket Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.css" rel="stylesheet">

</head>

<body>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Left Side Bar -->
        <div class="mainSideBar">
            <div th:replace="/fragments/menubar/mainsidebar"></div>
        </div>
        <!-- /.Left Side Bar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Top Bar -->
            <div class="topBar">
                <div th:replace="/fragments/menubar/topbar"></div>
            </div>
            <!-- /.Top Bar -->

            <!-- Main Content -->
            <div id="content">

                <!-- Header Content -->
                <div class="container-fluid">
                    <div layout:fragment="headerContent"></div>
                </div>
                <!-- /.Header Content -->


                <!-- Body Content -->
                <div class="container-fluid">
                    <div layout:fragment="bodyContent"></div>
                </div>
                <!-- /.Body Content -->

            </div>

            <!-- Footer Bar -->
            <div class="footerBar">
                <div th:replace="/fragments/menubar/footerbar"></div>
            </div>
            <!-- /.Footer Bar -->

            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->


    </div>
    <!-- End of Page Wrapper -->




    <!-- Scroll To Top -->
    <div class="scrollUp">
        <div th:replace="/fragments/components/scrollup"></div>
    </div>
    <!-- /.Scroll To Top -->


    <!-- Logout Dialog -->
    <div class="logoutDialog">
        <div th:replace="/fragments/components/logoutdialog"></div>
    </div>
    <!-- /.Logout Dialog -->






    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</body>



</html>