<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout}">

<body>
    <div layout:fragment="bodyContent">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Tables</h1>
            <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                For more information about DataTables, please visit the <a target="_blank"
                    href="https://datatables.net">official DataTables documentation</a>.</p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Product Catalog</h6>
                </div>

                <div class="card-body">
                    <div class="table-responsive">

                        <!-- <h1 class="mt-5" th:text="${product.description}"></h1> -->
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr role="row">
                                    <th>Product Name</th>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th style="width: 16%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="product:${listProduct}">
                                    <td th:text="${product.productName}"></td>
                                    <td th:text="${product.category}"></td>
                                    <td th:text="${product.description}"></td>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-xs purple editView" title="Edit"
                                            th:href="@{'/product/edit/' + ${product.id}}"><i class="fa fa-edit"></i>
                                            Edit</a>
                                        <a href="#" class="btn btn-danger btn-xs purple deleteView" title="Delete"
                                            th:href="@{'/product/delete/' + ${product.id}}"><i
                                                class="fa fa-trash-o"></i> Delete</a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                    </div>
                </div>

            </div>

        </div>

    </div>
</body>

</html>